@model IEnumerable<Project1.Web.Api.ModelObject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="button is-primary is-light">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th asp-display-name-for="ToList()[0].Id"></th>
            <th></th>
            <th asp-display-name-for="ToList()[0].EmailAddress"></th>
            <th asp-display-name-for="ToList()[0].Expiration"></th>
            <th asp-display-name-for="ToList()[0].LinkToFile"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td asp-display-for="@item.Id"></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button is-primary is-small">Edit</a>&nbsp;
                <a asp-action="Upload" asp-route-id="@item.Id" class="button is-primary is-small">Upload</a>&nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id" class="button is-danger is-small">Delete</a>
            </td>
            <td asp-display-for="@item.EmailAddress"></td>

            @if (item.Expiration > DateTime.Now)
            {
                <td asp-display-for="@item.Expiration"></td>
                <td><a asp-display-for="@item.LinkToFile" href=@(item.LinkToFile)></a></td>
            }

            @if (item.Expiration <= DateTime.Now || item.Expiration == null)
            {
                <td> - </td>
                <td> - </td>
            }
        </tr>
        }
    </tbody>
</table>
